body {
  background-color: #fffcfa;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 175%;
  font-weight: 300;
  background-color: #B7F2F5;
  margin: 2em;
}
